.descriptionCardContainer {
    margin-top: 15% !important;
    .descriptionCard{
        min-height: 200px;
        .cardLogoContainer{
            display: flex;
            justify-content: center;
        .CardLogo{
            width: 75px;
            height: 75px;
        }}
    }
}
