@import "variables";

.footer {

    background-color: $flash-color;
    color: $light-color;

    .block-top {

        li {
            list-style: none;
        }
    }

    .separate {
        hr {
            width: 80%;
            height: 2px;
            color: $light-color;
            opacity: 1;
        }
    }

    .block-bottom {
        .social {
            width: 60px;
            background-color: $light-color;
            border-radius: 100%;
            padding: 10px;
            i{
                font-size: 2.5em;
                color: $flash-color;
            }
        }
    }
}
