@import "variables";

.footer {
    height: 50vh;
    background-color: $flash-color;
    color: $light-color;

    .block-top {
        height: 50%;

        li {
            list-style: none;
        }
    }

    .separate {
        hr {
            width: 80%;
            height: 2px;
            color: $light-color;
            opacity: 1;
        }
    }

    .block-bottom {
        .social {
            width: 60px;
            background-color: $light-color;
            border-radius: 50%;
            padding: 10px;
            i{
                font-size: 2em;
                color: $flash-color;
            }
        }
    }
}
