.testimonyModal {
    color: $flash-color;
    font-weight: bold;
    .form-control {
        border-radius: 8px;
        background-color: $grey-color;
    }

    .sendButton {
        border: none;
        border-radius: 50%;
        background-color: $flash-color;
        color: $light-color;
        font-size: 1.5rem;
    }
    .star {
        color: #ffb400;
        font-size: 1.5em;
    }
}
