@font-face {
    font-family: 'TraditionSansXLight';
    src: url('../fonts/TraditionSansXLight.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
}


$text : 'TraditionSansXLight', sans-serif;
$title : 'Montserrat', sans-serif;
$light-color : #ffffff;
$dark-color : #000000;
$grey-color : #f1f1f1;
$flash-color : #82ab04;