<footer class="footer d-flex flex-column mt-5">
    <div class="block-top d-flex flex-column justify-content-center flex-sm-row py-5">
        <div class="block-top-left d-flex flex-column align-items-center justify-content-center col-12 col-sm-4">
            <h4>{{ "Navigation" | upper}}</h4>
            <ul class="p-0">
                <li>
                    <a href="#Header">Acceuil</a>
                </li>
                <li>
                    <a href="#Photos">Photos</a>
                </li>
                <li>
                    <a href="#Temoignages">Témoignages</a>
                </li>
                <li>
                    <a href="#Contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="block-top-center d-flex flex-column align-items-center justify-content-center col-12 col-sm-4">
            <h4>{{ "À propos" | upper}}</h4>
            <ul class="p-0">
                <li>Houry Florence</li>
                <li>45470 Loury</li>
                <li>06.06.06.06.06</li>
                </br>
            </ul>
        </div>
        <div class="block-top-right d-flex flex-column align-items-center justify-content-center col-12 col-sm-4">
            <div class="container">
                <iframe class="responsive-iframe" src="https://maps.google.com/maps?q=45470%20Loury&t=&z=10&ie=UTF8&iwloc=&output=embed" scrolling="no" marginheight="0" marginwidth="0"></iframe>

            </div>
        </div>
    </div>

</footer>
