<footer class="footer d-flex flex-column mt-5">
    <div class="block-top d-flex flex-column justify-content-center flex-sm-row pt-5">
        <div class="block-top-left d-flex flex-column align-items-center justify-content-center col-12 col-sm-4">
            <h4>{{ "Lorem ipsum" | upper}}</h4>
            <ul class="p-0">
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
            </ul>
        </div>
        <div class="block-top-center d-flex flex-column align-items-center justify-content-center col-12 col-sm-4">
            <h4>{{ "Lorem ipsum" | upper}}</h4>
            <ul class="p-0">
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
            </ul>
        </div>
        <div class="block-top-right d-flex flex-column align-items-center justify-content-center col-12 col-sm-4">
            <h4>{{ "Lorem ipsum" | upper}}</h4>
            <ul class="p-0">
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
                <li>Lorem ipsum dolor.</li>
            </ul>
        </div>
    </div>
    <div class="separate d-flex col-12 my-4">
        <div class="line-left d-flex justify-content-end pe-2 col-4">
            <hr>
        </div>
        <h4 class="col-4 text-center">{{ "Suivez-moi sur les réseaux" | upper }}</h4>
        <div class="line-right col-4 ps-2">
            <hr>
        </div>
    </div>
    <div class="block-bottom d-flex justify-content-center mb-5">
        <div class="social text-center me-sm-5">
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="social text-center mx-5">
            <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="social text-center ms-sm-5">
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
</footer>
