<div class="descriptionCardContainer row d-flex align-items-start g-0">

    <div class="descriptionCard col-lg-3 col-md-8 col-sm-8 text-center text-md-start mb-5">
        <div class="row">
            <div class="cardLogoContainer col-lg-2 col-md-3 mt-4">
                <img src="{{ asset('build/images/Child.png') }}" alt="CardLogo" class="CardLogo" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" data-aos-once="true" data-aos-anchor-placement="top-bottom">
            </div>
            <div class="col-lg-10 col-md-9 mt-4">
                <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600" data-aos-once="true" data-aos-anchor-placement="top-bottom">
                    Des activités ludiques
                </h3>
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="900" data-aos-once="true" data-aos-anchor-placement="top-bottom"> J'aiderais votre enfant, sans le faire a sa place, à touiller, assembler, découper, coller lors d'activités d'eveil et de découverte. <br>Il aura aussi ces moments de 'liberté' pour jouer avec les autres enfants. <br><sub>(Je garde toujours un oeil sur eux)</sub></p>
            </div>
        </div>
    </div>

    <div class="descriptionCard col-lg-3 col-md-8 col-sm-8 text-center text-md-start mb-5">
        <div class="row">
            <div class="cardLogoContainer col-lg-2 col-md-3 mt-4">
                <img src="{{ asset('build/images/Hand.png') }}" alt="CardLogo" class="CardLogo" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200" data-aos-once="true" data-aos-anchor-placement="top-bottom">
            </div>
            <div class="col-lg-10 col-md-9 mt-4">
                <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500" data-aos-once="true" data-aos-anchor-placement="top-bottom">
                    Une nounou complice
                </h3>
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1800" data-aos-once="true" data-aos-anchor-placement="top-bottom">J'ai a coeur d'entretenir une relation de confiance avec les petits que je garde. Je les accompagnent, les aides et répond a leur questionnement du quotidien.

                </p>
            </div>
        </div>
    </div>

    <div class="descriptionCard col-lg-3 col-md-8 col-sm-8 text-center text-md-start mb-5">
        <div class="row">
            <div class="cardLogoContainer col-lg-2 col-md-3 mt-4">
                <img src="{{ asset('build/images/Mom.png') }}" alt="CardLogo" class="CardLogo" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2100" data-aos-once="true" data-aos-anchor-placement="top-bottom">
            </div>
            <div class="col-lg-10 col-md-9 mt-4">
                <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2400" data-aos-once="true" data-aos-anchor-placement="top-bottom">
                    Une nounou aimante
                </h3>
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2700" data-aos-once="true" data-aos-anchor-placement="top-bottom">Étant une maman dans l'âme, je suis toujours prête à aider les petits. Je les aiderais à se sentir aimés, à se sentir bien, à évoluer et grandir. <br>Avec moi, vos petits trésors seront bien gardé !
                </p>
            </div>
        </div>
    </div>
</div>
