{% block stylesheets %}
    {{ encore_entry_link_tags('descriptionCard') }}
{% endblock %}

<div class="descriptionCardContainer row g-0">

    <div class="descriptionCard col-lg-3 col-md-4 col-sm-6">
        <div class="row">
            <div class="cardLogoContainer col-lg-2 col-md-3">
                <img src="{{ asset('build/images/Child.png') }}" alt="CardLogo" class="CardLogo">
            </div>
            <div class="col-lg-10 col-md-9">
                <h3>
                    Des activités ludiques
                </h3>
                <p> J'aiderais votre enfant, sans le faire a sa place, à touiller, assembler, découper, coller lors d'activités d'eveil et de découverte. </br>Il aura aussi ces moments de 'liberté' pour jouer avec les autres enfants. </br><sub>(Je garde toujours un oeil sur eux)</sub></p>
            </div>
        </div>
    </div>

    <div class="descriptionCard col-lg-3 col-md-4 col-sm-6">
        <div class="row">
            <div class="cardLogoContainer col-lg-2 col-md-3">
                <img src="{{ asset('build/images/Hand.png') }}" alt="CardLogo" class="CardLogo">
            </div>
            <div class="col-lg-10 col-md-9">
                <h3>
                    Une nounou complice
                </h3>
                <p>J'ai a coeur d'entretenir une relation de confiance avec les petits que je garde. Je les accompagnent, les aides et répond a leur questionnement du quotidien.
                
                </p>
            </div>
        </div>
    </div>

    <div class="descriptionCard col-lg-3 col-md-4 col-sm-6">
        <div class="row">
            <div class="cardLogoContainer col-lg-2 col-md-3">
                <img src="{{ asset('build/images/Mom.png') }}" alt="CardLogo" class="CardLogo">
            </div>
            <div class="col-lg-10 col-md-9">
                <h3>
                    Une nounou aimante
                </h3>
                <p>Étant une maman dans l'âme, je suis toujours prête à aider les petits. Je les aiderais à se sentir aimés, à se sentir bien, à évoluer et grandir. </br>Avec moi, vos petits trésors seront bien gardé !
                </p>
            </div>
        </div>
    </div>
</div>
