{% block stylesheets %}
    {{ encore_entry_link_tags('descriptionCard') }}
{% endblock %}

<div class="descriptionCardContainer row g-0">

    <div class="descriptionCard col-lg-3 col-md-4 col-sm-6">
        <div class="row">
            <div class="cardLogoContainer col-lg-2 col-md-3">
                <img src="{{ asset('build/images/feuilles.png') }}" alt="CardLogo" class="CardLogo">
            </div>
            <div class="col-lg-10 col-md-9">
                <h3>
                    Lorem ipsum
                </h3>
                <p>Pariatur eiusmod proident magna dolor cupidatat ipsum dolor tempor officia voluptate sunt sit non sit. Elit enim pariatur minim esse et deserunt. Commodo do velit nulla ullamco irure.
                </p>
            </div>
        </div>
    </div>

    <div class="descriptionCard col-lg-3 col-md-4 col-sm-6">
        <div class="row">
            <div class="cardLogoContainer col-lg-2 col-md-3">
                <img src="{{ asset('build/images/feuilles.png') }}" alt="CardLogo" class="CardLogo">
            </div>
            <div class="col-lg-10 col-md-9">
                <h3>
                    Lorem ipsum
                </h3>
                <p>Pariatur eiusmod proident magna dolor cupidatat ipsum dolor tempor officia voluptate sunt sit non sit. Elit enim pariatur minim esse et deserunt. Commodo do velit nulla ullamco irure.
                </p>
            </div>
        </div>
    </div>

    <div class="descriptionCard col-lg-3 col-md-4 col-sm-6">
        <div class="row">
            <div class="cardLogoContainer col-lg-2 col-md-3">
                <img src="{{ asset('build/images/feuilles.png') }}" alt="CardLogo" class="CardLogo">
            </div>
            <div class="col-lg-10 col-md-9">
                <h3>
                    Lorem ipsum
                </h3>
                <p>Pariatur eiusmod proident magna dolor cupidatat ipsum dolor tempor officia voluptate sunt sit non sit. Elit enim pariatur minim esse et deserunt. Commodo do velit nulla ullamco irure.
                </p>
            </div>
        </div>
    </div>
</div>
