{% block stylesheets %}
    {{ encore_entry_link_tags('header') }}
{% endblock %}

<header>
    <div class="bg-image">

        <div class="white-box text-center p-4 ">
            <img src="{{ asset('build/images/leaf.png') }}" alt="logo" class="leaf">
            <div class="d-flex flex-column justify-content-around mt-4">
                <h1 class="h3 mt-4">
                    Florence Houry
                </h1>
                <p class="my-4">
                    Patiente et à l'écoute des enfants, je m'adapte à leurs rythmes et réponds à leurs besoins en leur offrant un lieu sûr et des activités ludiques.
                     Nous profitons aussi bien d'un intérieur adapté aux enfants que de l'extérieur contenant toboggan, balançoires et cabane. 
                     </br>Si vous devez retenir une chose, c'est que je ne garde pas vos enfants, je m'en occupe !
                </p>
                {% include './components/button.html.twig' with {'text': 'Contactez moi !'} %}
            </div>
        </div>
    </div>
</header>
