<header id="Header">
    <div class="bg-image">

        <div class="white-box text-center p-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0" data-aos-once="true" data-aos-anchor-placement="top-bottom">
            <img src="{{ asset('build/images/leaf.png') }}" alt="logo" class="leaf" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0" data-aos-once="false" data-aos-anchor-placement="top-bottom">
            <div class="d-flex flex-column justify-content-around mt-md-2">
                <h1 class="h3 mt-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" data-aos-anchor-placement="top-bottom">
                    Florence Houry
                </h1>
                <p class="my-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" data-aos-anchor-placement="top-bottom">
                    Patiente et à l'écoute des enfants, je m'adapte à leurs rythmes et réponds à leurs besoins en leur offrant un lieu sûr et des activités ludiques.
                     Nous profitons aussi bien d'un intérieur adapté aux enfants que de l'extérieur contenant toboggan, balançoires et cabane.
                     <br>Si vous devez retenir une chose, c'est que je ne garde pas vos enfants, je m'en occupe !
                </p>
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="1000" data-aos-once="true" data-aos-anchor-placement="top-bottom">
                {% include './components/button.html.twig' with {'text': 'Contactez moi !'} %}
                </div>
            </div>
        </div>
    </div>
</header>
